<div class="customer-edit">
  <h1>顧客情報編集</h1>

  <%= render 'form', customer: @customer %>

  <div class="additional-actions">
    <%= link_to "詳細表示", @customer, class: "btn btn-info" %>
  </div>
</div>
